*{
    margin: 0;
    padding: 0;
}
.login{
    width: 60vw;
    height: 60vh;
    background-color: gray;
    margin-top: 10%;
    margin-left: 18%;

}
.login > input {
    width: 200px;
    height:20px ;
    margin: 10px;
}
.login > button {
  width: 100px;
  height: 30px;
 
}